# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

/env
/.vscode
# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

*/__pycache__/
*/*/__pycache__/
/.idea

venv/
env/

*/__pycache__/
*/*/__pycache__/

*/__pycache__/
*/*/__pycache__/
# */migrations/
# */*/migrations/
/.idea
/.vscode
*/*.sqlite3
./db.sqlite3



static/dist
static/images
