{% extends "auth/base.html" %}
{% load static %}

{% load bootstrap4 %}
{% block container %}
	<div class="container-fluid">
		<div class="">
			<div class="card shadow  bg-white rounded">
				<div class="card-header">
					<h3 >Connexion</h3>

				</div>
					<hr>
				<div class="card-body">
					{% if error %}
					<p class="bg-warning"><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
					{% endif %}
					
					{% if user.is_authenticated %}
					Vous êtes connecté, {{ user.username }} !
					{% else %}
					<form action="/auth/signin" method="post" >
						{% csrf_token %}
						<div class="form-group">
						
						{% bootstrap_form form %}
						</div>
							<input type="submit" class="form-control" value="Se connecter" />
					
					</form>
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-center links">
					<a href="/auth/signup" >S'Inscrire</a>
					</div>
					<div class="d-flex justify-content-center">
						<a href="/auth/forgot" >Mot de passe oublié?</a>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
